<section data-section="masthead" id="masthead">

  <a href="#shows" class="chevron chevron-down">
    <i class="fa fa-chevron-down chevron chevron-down"></i>
  </a>

  <div class="section-content">
    <h1 class="masthead-tagline">
      Gaming media production with bold, fresh ideas.
    </h1>
    <p class="masthead-sub-tagline">
      Electronic Sports Entertainment Nordic (ESEN) is a production studio based
      in Stockholm, Sweden.<br>
      We produce media and gaming content for a wide audience.
    </p>
    <a class="masthead-scroller" href="#shows">
      Learn more about ESEN
    </a>
  </div>
</section>
