[data-section="masthead"] {
  background-image: url('/images/esen-bg.png');
  background-position: 50% 50%;
  background-repeat: none;
  background-size: cover;

  padding-top: 80px;
  text-align: center;

  > .chevron-down {
    color: saturate($accent-yellow, 20%);
    opacity: 0.3;

    &:hover {
      opacity: 0.5;
    }
  }


  > .section-content {
    > .masthead-tagline {
      @include lato-light;
      font-size: 36px;
      margin: 0 0 40px;
    }

    > .masthead-sub-tagline {
      @include lato-bold;
      font-size: 16px;
      margin: 40px 0;
    }

    > .masthead-scroller {
      @include lato-bold;
      background: transparent;
      border: 2px solid $accent-yellow;
      border-radius: 30px;
      color: $accent-yellow;
      display: inline-block;
      font-size: 18px;
      padding: 10px 30px;
      text-decoration: none;
      transition: background 0.2s linear, color 0.2s linear;

      &:hover {
        background: $accent-yellow;
        color: $gray-2;
      }
    }

  }
}
